appdirs==1.4.3
argon2-cffi==20.1.0
asgiref==3.2.10
bcrypt==3.2.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==3.1.1
django-bootstrap3==14.1.0
django-email-extras==0.3.4
django-forms-builder==0.14.0
Faker==4.1.1
future==0.15.0
gunicorn==20.0.4
idna==2.10
packaging==16.8
Pillow==7.2.0
protobuf==3.11.1
pycparser==2.19
pyparsing==2.2.0
PySocks==1.7.1
python-dateutil==2.8.1
python-gnupg==0.4.6
pytz==2020.1
requests==2.24.0
selenium==3.141.0
six==1.13.0
soupsieve==2.0.1
sphinx-me==0.3
sqlparse==0.3.1
stem==1.8.0
text-unidecode==1.3
tor==1.0.0
torrequest==0.1.0
Unidecode==1.1.1
urllib3==1.25.10
wincertstore==0.2