<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
        <ul>
            <li>
            <a href="#">
                Traffic Generator
            </a>
            </li>
            <li>
            <a href="">
                About Us
            </a>
            </li>
            <li>
            <a href="">
                Licenses
            </a>
            </li>
        </ul>
        </nav>
        <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script> Powered By
        <a href="https://www.esquall.com/" target="_blank"><b>eSquall Inc.</b></a>
        </div>
    </div>
</footer>